"""{{ name }} headers."""

from __future__ import annotations

from pathlib import Path

__version__ = "{{ version }}"


def get_include() -> Path:
    """Return the path to the {{ name }} headers."""
    return Path(__file__).parent / "include"
